# Basic Python

## 1. Split this string

In [ ]:
s = "Hi there Sam!"

In [ ]:
s.split()

['Hi', 'there', 'Sam!']

*`italicized text`*## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

In [ ]:
print("the diameter of {} is {} kilometer". format(planet,diameter))

the diameter of Earth is 12742 kilometer

## 3. In this nest dictionary grab the word "hello"

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

# Numpy

In [ ]:
import numpy as np

a=np.zeros(10)
a
b=np.ones(10)*5
b

## 5. Create an array of all the even integers from 20 to 35

In [ ]:
S=np.arange(20,35,2)
S

array([20, 22, 24, 26, 28, 30, 32, 34])

C=np.arange(0,9).reshape(3,3)
C

## 7. Concatinate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [ ]:
a=np.array([1,2,3])
b=np.array([4,5,6])
np.concatenate((a,b),axis=0)

array([1, 2, 3, 4, 5, 6])

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [ ]:
import pandas as pd

In [ ]:
d={"name":["dhariya","reva","suva"],"age":[19,21,20]}
df=pd.DataFrame(d)
df

      name  age
0  dhariya   19
1     reva   21
2     suva   20

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

p = pd.date_range(start='5-1-2023',end='13-2-2023')
for val in p:
  print(val)


lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [ ]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [ ]:
df = pd.DataFrame(lists)
df

   0    1   2
0  1  aaa  22
1  2  bbb  25
2  3  ccc  24